# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so


*.pyd

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm project files
.idea/


# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Windows
Thumbs.db
ehthumbs.db

/route1